
//bin dir is output dir
/bin/
/MixieClient/old/
/MixieClient/.vs/
/MixieClient/debug/
/MixieClient/release/
/MixieClient/ui/
/MixieServer/old/
/MixieServer/.vs/
/MixieServer/debug/
/MixieServer/release/